#vars-section {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    overflow-y: hidden;
    width: 85%;
    margin-left: 7.5%
}

#vars {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    flex-shrink: 0;

}

.var {
    background: var(--secondary);
    display: flex; 
    border-radius: 45px;
    padding: 6px;
    gap: 6px;
    align-items: center;
    justify-items: center;
    border: 1px solid var(--primary);
 
    flex-shrink: 0;
}

.var * {
    margin: 0 !important;
}


.var img {
    width: 25px;

}

.var input {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    background: transparent !important;
    box-shadow: none !important;
    color: var(--primary);
    width: 24px
}

.var input[type=button]{
background: red;
text-decoration: underline; 
border: none;
}


#add-var {
    margin: 0;
    border-radius: 100px;
    background: white;
    border: 1px solid black;
    width: 25px!important;
    transform: rotate(45deg);
    padding: 6px;
}

#color-formula-inputs-container div input {
    width: 15vw;
}


.active-cf-input{
    display: initial!important
}

.active-cf-input input{
    color:var(--primary);
}

#color-formula-inputs-container > div{
    display: none
}

.resizable-input{
    width: 12px;
}