#sessions-container {
    margin: 0% 2%;
    display: flex;
    overflow-x: auto;
    width: 100%;
    color: var(--primary);
}

.session {
    flex-shrink: 0;
    background: var(--accent);
    margin-left: 8px;
    padding: 6px 20px;
    border-radius: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px dotted var(--primary);
    backdrop-filter: var(--frostblur);
    opacity: 0.6;
}

.session-delete-button {
    width: 20%;
    margin: 0;
}

.session-active {
    border: 2px solid var(--primary);
    opacity: 1;
}

#add-session {
    width: 20px;
    border-radius: 50px;
    transform: rotate(45deg);
    padding: 10px;
    margin-bottom: 25px;
    margin-left: 3%;
    border: 1px solid black;
}

#sessions-section {
    display: flex;
    align-items: center;
    margin-left: 2px;
}